/*.offer-show {*/

    /*width: 100%;*/
    /*height: 100%;*/
    /*position: relative;*/
    /*bottom: 0;*/
    /*z-index: 5;*/
    /*transition: 1s ease bottom !important;*/
    /*display: block !important;*/
/*}*/
/*.offer-show.ng-hide {*/
    /*bottom: 0;*/
/*}*/
.offer-show{
    -webkit-transition:all linear 1s;
    transition:all linear 1s;
    line-height:20px;
    opacity:1;

}
.animate-slideUp {
    -webkit-transition:all linear 1s;
    transition:all linear 1s;
    line-height:20px;
    opacity:1;

    background:white;
}

.animate-slideUp.ng-hide {
    line-height:0;
    opacity:0;

}