/*concern header height (50px)*/
body {
    padding-top: 70px;
    padding-bottom: 50px;
}
.jumbotron h1{
    color: orangered;
}
.carMediumImgPlaceHolder{
    width:350px;
    height: 177px;
    opacity: 0;
}
.well h1,.well form{
    text-align: center;
}