/*concern header height (50px)*/
body {
    padding-top: 70px;
    padding-bottom: 70px;
}
.jumbotron h1{
    color: orangered;
}
.carMediumImgPlaceHolder{
    width:350px;
    height: 177px;
    opacity: 0;
}
.well h1,.well form{
    text-align: center;
}

/*HOMEDATEPICKER*/
.datepicker.dropdown-menu {
    width: 250px;
    height: 250px;
}
.datepicker.dropdown-menu button {
    outline: none;
    border: 0px;
}
.datepicker.dropdown-menu tbody {
    height: 180px;
}
.datepicker.dropdown-menu tbody button {
    padding: 6px;
}
.datepicker.dropdown-menu.datepicker-mode-1 tbody button, .datepicker.dropdown-menu.datepicker-mode-2 tbody button {
    height: 65px;
}

.timepicker.dropdown-menu {
    padding: 0 4px;
}
.timepicker.dropdown-menu button {
    outline: none;
    border: 0px;
}
.timepicker.dropdown-menu tbody button {
    padding: 6px;
}