<!DOCTYPE html>
<html ng-app="myMap">
<head lang="en">
    <meta charset="UTF-8">
    <title>Map</title>

    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="../../../components/bootstrap/dist/css/bootstrap.min.css"/>
    <!--<script src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="../../../components/angular/angular.js"></script>
    <!--<script src="../../components/ui-bootstrap-tpls-0.11.0.js"></script>-->
    <!--<script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=true"></script>-->
    <!--<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>-->
    <script src="../../../components/lodash/dist/lodash.underscore.js"></script>
    <script src="../../../components/angular-google-maps/dist/angular-google-maps.js"></script>


    <script src="controllers/map.main.controller.js"></script>
    <script src="controllers/map.travelpoints.controller.js"></script>
    <script src="services/map.services.js"></script>
    <!--<script src="map.directions.service.js"></script>-->
</head>
<body>
<div class="container"><h2>Angular-Google-Maps</h2></div>
<div ng-controller="MapController">

    <div class="container myMap">
        <div class="row">
            <div class="col-sm-12">
                <google-map  center="map.center" control="map.control" zoom="map.zoom" ng-if="loadMap">
                    <marker ng-repeat='marker in map.markers' coords='marker' icon='marker.icon'></marker>
                </google-map>

            </div>
        </div>
    </div>


    <div class="container" ng-controller="TravelPointsController">

        <div class="well">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="input-group">
                     <span class="input-group-btn">
                        <button class="btn btn-default glyphicon glyphicon-home" style="top:0" type="button" ng-click="goToMyLocation()"></button>
                     </span>
                        <input ng-model="startPoint" type="text" class="form-control"
                               placeholder="Choose starting point, or click on map...">
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-sm-6 col-xs-12">
                    <div class="input-group">
                        <input ng-model="destPoint" type="text" class="form-control"
                               placeholder="Choose destination... ">
                     <span class="input-group-btn">
                      <button class="btn btn-default" type="button" ng-click="calculateRoute()">Go!</button>
                     </span>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!--/.well-->
        <div class="well">
            <div class="row">
              <div  class="col-sm-10 col-xs-8">
                  <p class="col-sm-6 col-xs-12">The estimated trip distance is {{distance.toFixed(2)}} km.</p>
                  <p class="col-sm-6 col-xs-12">The rent price is {{(distance*1.2).toFixed(2)}} ILS.</p>
              </div>
            <div class="col-sm-2 col-xs-4">
                <button class="btn btn-success col-xs-12">Submit</button>
            </div>
    </div>
        </div>

    </div>
</div>

</body>
</html>