<div ng-controller="TravelPointsController"><h2 class="container">Angular-Google-Maps</h2>

    <div class="container mapAndDetails">
        <div class="row">
            <div class="container travelDetails col-md-4 col-sm-12">
                <div class="well">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur ducimus et odit
                    quibusdam reiciendis sapiente vero! Accusamus architecto consectetur
                    facilis iste laboriosam nesciunt omnis, quasi quibusdam veritatis voluptatibus? Ducimus.

                    <div class="row">
                        <div class="col-sm-12">Choose your destination:</div>
                        <div class="col-md-12 col-sm-6 col-xs-12">
                            <div class="input-group">
                                <input ng-model="startPoint" type="text" class="form-control"
                                       placeholder="Choose starting point, or click on map...">
                                 <span class="input-group-btn">
                                     <button class="btn btn-default" type="button"
                                             ng-click="goToMyLocation()">
                                         <i class=" glyphicon glyphicon-home"></i>
                                     </button>
                                 </span>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-6 col-xs-12">
                            <div class="input-group">
                                <input ng-model="destPoint" type="text" class="form-control"
                                       placeholder="Choose destination... ">
                                  <span class="input-group-btn">
                                          <button class="btn btn-default" type="button"
                                                  ng-click="calculateRoute()">Go!
                                          </button>
                                  </span>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-12">Choose your dates:</div>
                        <div class="col-md-12 col-sm-6 col-xs-12">
                            <div class="input-group">
                                <label class="sr-only" for="pickUpDate">Pick up date:</label>

                                <input type="text" class="form-control" ng-model="fromDate"
                                       data-max-date="{{untilDate}}"
                                       placeholder="From" ng-required="true" bs-datepicker>
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="open1($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                  </button>
                                </span>
                            </div>
                        </div>


                        <div class="col-md-12 col-sm-6 col-xs-12">
                            <div class="input-group">
                                <label class="sr-only" for="dropOffDate">Drop off date:</label>
                                <input type="text" class="form-control" ng-model="untilDate"
                                       data-min-date="{{fromDate}}"
                                       placeholder="Until" ng-required="true" bs-datepicker>
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="open2($event)"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <p class="col-md-12 col-sm-6 col-xs-12">The estimated trip distance is
                                {{distance.toFixed(2)}} km.</p>

                            <p class="col-md-12 col-sm-6 col-xs-12">The rent price is {{(distance*1.2).toFixed(2)}}
                                ILS.</p>
                        </div>
                        <div class="col-sm-12">
                            <button class="btn btn-info col-xs-12">Next</button>
                        </div>
                    </div>

                </div>
            </div>


            <div class="container myMap col-md-8 col-sm-12">

                <google-map center="map.center" control="map.control" zoom="map.zoom" ng-if="loadMap">
                    <marker ng-repeat='marker in map.markers' coords='marker' icon='marker.icon'></marker>
                </google-map>


            </div>
        </div>


        <form name="offerForm" class="form-inline" role="form">
TEST
            <div class="form-group">

                <div class="input-group">
                    <label class="sr-only" for="pickUpDate">Pick up date:</label>

                    <input type="text" class="form-control" ng-model="fromDate" data-max-date="{{untilDate}}"
                           placeholder="From" ng-required="true" bs-datepicker>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open1($event)">
                          <i class="glyphicon glyphicon-calendar"></i>
                      </button>
                    </span>
                </div>
            </div>


            <div class="form-group">
                <div class="input-group">
                    <label class="sr-only" for="dropOffDate">Drop off date:</label>
                    <input type="text" class="form-control" ng-model="untilDate" data-min-date="{{fromDate}}"
                           placeholder="Until" ng-required="true" bs-datepicker>
                  <span class="input-group-btn">
                   <button type="button" class="btn btn-default" ng-click="open2($event)"><i
                           class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
            </div>
         </form>



    </div>
</div>